form {
    text-align: left;
    position: absolute;
    width: 30%;
    /* background-color: rgb(164, 163, 163); */
    padding: 1%;
    top: 33%;
    left: 33%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    z-index: 10;
}

form input, form select {
    width: 100%;
    min-height: 48px;
    padding: .5%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

form button[type="submit"] {
    font-size: 18px;
    font-weight: 600;
    margin-top: 4%;
}
form button[type="button"] {
    position: absolute;
    right: .7%;
    top: .7%;
    padding: 1%;
}
/* form button[type="button"]:hover {
    background-color: red;
} */