.items {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
}

.items div {
    margin-bottom: 4em;
}

.main-heading {
    text-align: center;
}

.items .notify {
    display: flex;
    flex-direction: column;
}

.items .go-back {
    position: absolute;
    left: 2vw;
}