.items {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 1em;
    padding-top: 3.4em;
}

.items > * {
    flex: 1;
}
