.make-item {
    display: flex;
    width: 100%;
    max-height: -moz-fit-content;
    max-height: fit-content;
    justify-content: center;
    padding: 1em 4em;
    justify-content: space-around;
}

.make-item .item-image {
    width: 30em;
    height: max-content;
}

.make-item .item-image  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.make-item .box {
    position: relative;
    width: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: .4em;
}

table {
    padding: 2%;
    border-spacing: 1em;
}

table td {
    text-align: left;
    justify-content: center;
    font-size: 1.1em;
}

table tbody tr td:first-child{
    width: 12rem;
}

.apply-link{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #8dcfff;
    padding: 1em;
    border-radius: .4em;
    border: none;
    font-weight: 600;
}

.apply-link:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 1em;
}

.card-update-delete{
    text-align: center;
    padding: 1%;
}

.card-update-delete > td {
    flex: 1;
    /* border: 2px solid red; */
}

.card-update-delete > td > button {
    padding: 1%;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    /* background-color: rgb(174, 176, 177); */
    border: 0
}

.make-item .delete {
    color: red;
}

@media screen and (max-width: 700px) {
    .make-item {
        display: flex;
        flex-wrap: wrap;
    }
}