.search {
    position: absolute;
    display: flex;
    width: 15%;
    height: 2.4rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    right: 1.2%;
    background-color: transparent;
}

.search input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 2%;
    width: 100%;
}

/* .search input:hover, */
.search input:focus {
    background-color: white;
}

.search svg {
    background-color: transparent;
    position: absolute;
    top: 33%;
    color: black;
    right: 2%;
    cursor: pointer;
    z-index: 10;
}